RewriteEngine On

# Route requests to the backend for specific directories
RewriteCond %{REQUEST_URI} ^/?(admin|user|node|api)
RewriteRule ^(.*)$ /backend/web/$1 [L]

# Route all other requests to the frontend
RewriteCond %{REQUEST_URI} !^/?(admin|user|node|api)
RewriteRule ^(.*)$ /frontend/dist/?$1 [L]
